<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WindowsFlashBackend" value="ruffle" />
    <add key="VerboseRuntimeLog" value="false" />
    <add key="RuntimeLogMaxBytes" value="1048576" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
